h1 {
  margin-bottom: 30px;
}
h3 {
  clear: both;
}
input[type="text"] {
  width: 200px;
  float: left;
}
.narrow-button {
  float: left;
  margin-left: 10px;
}
table {
  margin: 10px 0px;
  clear: both;
}
table th {
    background-color: #c5e4ff;
}
table, th, td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
